@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a  {
  text-decoration: none;
  cursor: pointer;
  color: var(--ua-blue);
}

body.active{
  overflow:hidden
} 

/* start */

:root {
  --ua-blue: #005BBB;
  --ua-yellow:#FFD500;
  --white: #FFFFFF;
}


/* header */

.logo {
  display: block;
  margin: 80px auto;
 }

.menu{
  margin-bottom: 80px;
}

.menu-list{
  display: flex;
  justify-content: center;
}

.menu-list li {
  margin:0 40px;
}

/* end header */

/* main */

.slick-container{
  max-width: 1440px;
  margin: 0 auto 80px;
}

/* slick custom*/

.slick-gallery img {
  height: 200px;
}

.slick-track{
  margin-bottom: 40px;
}

.slick-list{
  margin: 0 auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li{
  margin: 0 8px;
}

.slick-dots button {
  padding: 9px;
  font-size: 0;
  border-radius: 100%;
  border: 1px solid var(--ua-blue);
  background-color: var(--white);
}

.slick-active button{
  background-color: var(--ua-blue);
}

.slick-slide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left-width: 10px;
  border-left-style: solid;
  border-image: linear-gradient(to bottom, #005BBB 50%, #FFD500 50%) 1 1;
}

/* slick custom end*/

.box {
  max-width: 1024px;
  margin: 0 auto;
}

.box-main{
  margin-bottom: 80px;
}

.box-main p:nth-child(-n+2){
  padding-bottom: 20px;
}

.container-box{
  border-top: 1px solid var(--ua-blue);
  border-bottom: 1px solid var(--ua-blue);
  padding-bottom: 80px;
}

.main-text{
  font-size: 28px;
  line-height: 140%;
  color: var(--ua-blue);
}

.container-box h2, footer h3{
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--ua-blue);
  text-transform: uppercase;
  padding: 16px 0;
  max-width: 500px;
  margin: 0 auto 40px;
  border-bottom: 1px solid var(--ua-blue);
}

.container-box__main{
  display: flex;
  justify-content: space-between;
}

.container-item{
  max-width: 500px;
  padding: 40px;
  background-color: var(--ua-blue);
  display: flex;
  align-items: center;
  border-left: 10px solid var(--ua-yellow)
}

.container-item__text{
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
}

.container-item__text span{
  font-size: 48px;
  
}

/* end main */

/* footer */

footer {
  max-width: 1024px;
  margin: 0 auto;
}

.send-message{
  position: relative;
  height: 120px;
  border: 1px solid var(--ua-blue);
  align-items: center;
  margin-bottom: 160px;
}

.message-us{
  resize: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

.message-us::placeholder{
  font-size: 18px;
  line-height: 22px;
  opacity: 0.5;
  color: #005BBB;
  transform: translateY(49px);
  padding-left: 30px;
}

.textarea-btn{
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--ua-blue);
  padding: 13px 56px;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-width: 1024px){

header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper{
  padding: 48px 60px 119px 60px;
}

.logo {
  margin: 0;
  margin-left: -15px;
}

.logo.active {
  z-index: 2;
  
}

.logo.active path {
  fill: var(--white);

}

/* burger menu */

/* Гамбургер іконка */

.menu-btn {
	width: 48px;
	height: 48px;
	position: absolute;
  top: 48px;
  right: 60px;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 48px;
	height: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--ua-blue);
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 15px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 15px);
}

/* Змінюємо гамбургер іконку, коли меню відчинено */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg); 
  background-color: var(--white);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
  background-color: var(--white);
}

/* Меню, яке буде зʼявлятися */

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 516px;
  background: var(--ua-blue);
	transform: translateY(-100%);
	transition: transform 0.5s; 
}

.menu.active {
	transform: translateY(0);
  transition: transform 0.5s;
  padding-top: 228px;
  padding-left: 65px;
  z-index: 1;
  overflow: hidden;
}

.menu-list{
  flex-direction: column;
}

.menu-list li {
  margin: 0;
}

.menu li:nth-child(1){
  margin-bottom: 48px;
}

.menu li:nth-child(2){
  margin-bottom: 48px;
}

.menu a {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

/* end burger menu */

/* slick */

.slick-gallery{
  margin: 0 0 80px;
}

.main-text{
  font-size: 24px;
}

.container-box h2, footer h3{
  font-size: 30px;
  line-height: 37px;
  max-width: 452px;
}

.container-box__main{
  flex-direction: column;
  row-gap: 28px;
}

.container-item{
 max-width: none;
}

}

@media screen and (max-width: 600px){

  header {
    justify-content: end;
    margin: 0;
  }

  header.active {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  .wrapper{
   padding: 0;
  }

  .logo {
    display: none;
    margin-top: 24px;
    margin-left: -13px;
  }

  .menu {
    height: 100%;
  }

  .menu.active {
    padding: 120px 0 0 20px;
  }

  .menu-btn {
    top: 20px;
    right: 20px;
  }

  .menu-btn span{
    background-color: var(--white);
  }

  .logo.active {
    display:block;
    width: 80px;
    height: 48px;

  }

/* slick */

.slick-gallery img {
  height: 180px;
}

.slick-gallery{
  margin: 0;
}

.slick-container{
  margin-bottom: 48px;
}

.slick-dots button{
  padding: 3px;
}

.slick-list{
  margin-bottom: -16px;
}

/* end slick */

.box{
  padding: 0 20px;
}

.main-text{
  font-size: 16px;
}

.box-main{
  margin-bottom: 48px;
}

.container-box{
  padding-bottom: 48px;
}

.container-box h2, footer h3{
  font-size: 20px;
  line-height: 24px;
  max-width: 100%;
}

.container-box__main{
  row-gap: 24px;
}

.container-item__text{
  font-size: 16px;
}
.container-item__text span{
  display: block;
  font-size: 24px;
  line-height: 140%;
}

footer {
  padding: 0 20px;
}

.send-message{
  height: 150px;
}

.message-us::placeholder{
  text-align: center;
  transform: translateY(20px);
  padding: 0;
}

.textarea-btn{
  margin-top: 20px;
  position: static;
  width: 100%;
}

}
